body {
  display: flex;
  background-color: blue;
  flex-direction: column;
  flex-wrap: wrap;
}

.gameName {
  background-color: green;
  text-align: center;
  color: white;
}

#game-map {
  background-color: lightblue;
  display: flex;
  height: 500px;
  width: 500px;
}

.snake {
  background-color: darkorange;
  width: 5px;
  height: 5px;
}

.testElement {
  background-color: darkorange;
  width: 5px;
  height: 5px;
}
